*
!m5shark/
!m5shark/**
!README.md
!LICENSE
!arduino-cli-esp32-3.3.4.yaml
!build-shark-v8.ps1
!build-port.ps1
!build-port.sh
!m5shark-r150-readme-banner.gif
!assets/
!assets/**
!hardware/
!hardware/**
!.gitignore
